@charset "UTF-8";
body {
  display: flex;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 14px; }

body::before {
  content: '';
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url("../media/main-bg.png") center/cover no-repeat;
  filter: blur(10px); }

.social {
  background-color: rgba(0, 0, 0, 0.7);
  width: 72px;
  flex-shrink: 0;
  line-height: 0.1; }
  .social__buttons {
    opacity: 1;
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between; }
  .social-section {
    box-sizing: border-box;
    height: calc(100% - 42px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .social__mac-button {
    opacity: 1;
    width: 12px;
    height: 12px;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 6px; }
  .social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .social-icons__item {
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 19px;
      height: 40px;
      width: 40px;
      min-height: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      filter: opacity(25%); }
      .social-icons__item:hover {
        filter: opacity(100%); }
      .social-icons__item-img {
        height: 40px;
        width: 40px; }
      .social-icons__item-img-add {
        height: 14px;
        width: 14px; }

.-active {
  filter: opacity(100%); }

.-orange {
  background-color: #ff5557; }

.-yellow {
  background-color: #e6bf2a; }

.-green {
  background-color: #5cc11c; }

.navigation-block {
  background-color: rgba(0, 0, 0, 0.5);
  width: 261px;
  flex-shrink: 0;
  padding: 35px 25px 0px 25px;
  overflow: scroll; }
  .navigation-block-header-dropdown {
    display: flex;
    justify-content: space-between; }
    .navigation-block-header-dropdown-arrow {
      margin-left: 10px;
      margin-bottom: 3px; }
    .navigation-block-header-dropdown-name {
      font-size: 20px;
      line-height: 24px;
      border: none;
      background-color: transparent;
      color: white;
      font-weight: 700;
      padding: 0;
      cursor: pointer; }
  .navigation-block-header-settings {
    border: none;
    background-color: transparent; }
  .navigation-block-threads {
    margin-top: 30px; }
    .navigation-block-threads-btn {
      cursor: pointer;
      padding: 0;
      vertical-align: bottom;
      border: none;
      background-color: transparent;
      font-size: 14px;
      line-height: 17px;
      color: #B5B5B5; }
    .navigation-block-threads-icon {
      vertical-align: bottom;
      height: 18px;
      margin-right: 5px; }
  .navigation-block-channels {
    margin-top: 30px; }
    .navigation-block-channels-header {
      display: flex;
      justify-content: space-between; }
      .navigation-block-channels-header-title {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #919191; }
      .navigation-block-channels-header-number {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #919191; }
    .navigation-block-channels-body {
      margin-top: 18px; }
    .navigation-block-channels-item {
      cursor: pointer;
      box-sizing: border-box;
      padding-top: 6px;
      height: 30px;
      padding-left: 13px;
      font-family: Lato;
      font-style: normal;
      font-size: 14px;
      line-height: 18px;
      color: #B5B5B5; }
      .navigation-block-channels-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        font-weight: 700; }
  .navigation-block-friends {
    margin-top: 18px; }
    .navigation-block-friends-header {
      display: flex;
      justify-content: space-between; }
      .navigation-block-friends-header-title {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #919191; }
      .navigation-block-friends-header-number {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #919191; }
    .navigation-block-friends-list {
      margin-top: 15px;
      display: flex;
      flex-direction: column; }
      .navigation-block-friends-list-item {
        margin-top: 10px;
        display: flex;
        align-items: center; }
        .navigation-block-friends-list-item:last-child {
          margin-bottom: 10px; }
        .navigation-block-friends-list-item-status {
          background-color: #70CC16;
          width: 8px;
          height: 8px;
          border-radius: 100%; }
        .navigation-block-friends-list-item-avatar {
          margin-left: 10px;
          border-radius: 4px;
          height: 34px;
          width: 34px; }
        .navigation-block-friends-list-item-name {
          margin-left: 15px;
          font-size: 14px;
          line-height: 17px;
          color: #B5B5B5; }

.message-block {
  background-color: white;
  flex-grow: 1;
  min-width: 560px; }

.message-header {
  height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

.header-mainline {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-mainline-left {
  display: flex;
  align-items: center; }

.header-mainline-left__title {
  margin-left: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000; }

.header-mainline-left__saved {
  margin-left: 5px; }

.users-counter {
  display: flex;
  align-items: center; }
  .users-counter__number {
    margin-left: 8px;
    font-size: 14px;
    line-height: 17px;
    color: #a4a4a4; }

.search_bar {
  margin-left: 24px;
  height: 33px;
  width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-image: url("../media/search.svg");
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat; }

.header-mainline-right {
  display: flex;
  align-items: center; }
  .header-mainline-right__notifications {
    margin-left: 24px;
    height: 20px;
    background-image: url("../media/notificationBell.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none; }
  .header-mainline-right__actions {
    margin: 0 24px;
    height: 20px;
    background-image: url("../media/moreButton.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none; }

.messages-body {
  overflow: scroll;
  height: calc(100% - 160px); }

.messages-container {
  margin: 25px; }

.message {
  display: flex; }
  .message__avatar {
    width: 34px;
    height: 34px;
    border-radius: 4px; }

.message-body {
  margin-left: 10px; }

.message-body-header {
  display: flex; }
  .message-body-header__userName {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px; }
  .message-body-header__message-time {
    margin-left: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D; }
  .message-body-header__message-text {
    font-size: 13px;
    line-height: 20px; }

.message + .message {
  margin-top: 25px; }

.separator {
  margin: 20px 0px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  text-align: center; }
  .separator__date {
    display: inline-block;
    padding: 0 25px;
    translate: 0% -50%;
    background-color: white;
    font-size: 13px;
    line-height: 18px;
    color: #8D8D8D; }

a {
  font-size: 13px;
  line-height: 18px;
  color: #3577EF; }

.attached-image {
  margin-top: 15px;
  box-sizing: border-box;
  width: 267px;
  height: 200px;
  position: relative; }
  .attached-image img {
    border-radius: 5px;
    width: 100%;
    height: 100%; }
  .attached-image-rating {
    padding: 5px 10px 5px 5px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    bottom: 0%;
    right: 0%;
    translate: 50% 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Параметры тени */
    z-index: 2; }

.message-body-footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  right: 201px;
  left: 383px;
  min-width: 560px;
  height: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background-color: white;
  display: flex;
  align-items: center; }
  .message-body-footer__attachment {
    margin-left: 20px;
    background-image: url(../media/attachment.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    border: none;
    background-color: transparent; }
  .message-body-footer__microphone {
    margin-left: 18px;
    background-image: url(../media/microphone.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    border: none;
    background-color: transparent; }
  .message-body-footer__input {
    margin: 0 10px;
    width: calc(100% - 100px);
    text-align: left;
    vertical-align: middle;
    height: 65px;
    border: none;
    resize: none;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D; }
  .message-body-footer__smiles {
    margin-right: 20px;
    background-color: transparent;
    background-image: url(../media/smile.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent; }

.about-block {
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  flex-shrink: 0;
  position: relative; }

.about-block-container {
  margin: 20px; }

.user-avatar {
  width: 200px;
  height: 200px;
  background-image: url(../media/user_avatar.png);
  background-size: cover; }

.user-title {
  display: flex;
  align-items: center; }
  .user-title__user-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .user-title__status {
    margin-left: 5px;
    border-radius: 3px;
    width: 6px;
    height: 6px;
    background-color: #70CC16; }

.user-profession {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #5F6164; }

.user-social {
  margin-top: 20px;
  display: flex;
  align-items: center; }
  .user-social__item {
    padding: 0;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    height: 22px;
    width: 22px;
    background-color: #E8E8EB; }
    .user-social__item:last-child {
      margin-right: 0; }

.user-buttons {
  margin-top: 20px;
  display: flex; }

.send-message {
  width: 133px;
  height: 25px;
  background-color: #3577EF;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px; }

.other-actions {
  margin-left: 2px;
  width: 25px;
  height: 25px;
  background-color: #3577EF;
  border: none;
  border-radius: 3px;
  color: white;
  background-image: url(../media/DropDownRectangle.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.user-text {
  margin-top: 14px; }
  .user-text-block {
    margin-bottom: 10px; }
    .user-text-block__title {
      font-size: 12px;
      line-height: 14px;
      color: #5F6164; }
    .user-text-block__text {
      font-size: 14px;
      line-height: 17px;
      color: #000000; }

.next-arrow {
  width: 10px;
  height: 16px;
  background-image: url(../media/rightArrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 23px;
  bottom: 23px; }
